# 1. Deployment для Redis
apiVersion: apps/v1
kind: Deployment
metadata:
  name: redis-deployment
  labels:
    app: redis
spec:
  replicas: 1 
  selector:
    matchLabels:
      app: redis 
  template:
    metadata:
      labels:
        app: redis 
    spec:
      containers:
      - name: redis
        image: redis:6-alpine 
        ports:
        - containerPort: 6379
        command: ["redis-server", "--appendonly", "yes"] 
        resources:
          limits:
            memory: "128Mi"
            cpu: "100m"
          requests:
            memory: "64Mi"
            cpu: "50m"

---
# 2. Service для Redis. Перейменовуємо на redis-svc.
apiVersion: v1
kind: Service
metadata:
  name: redis-svc
  labels:
    app: redis
spec:
  selector:
    app: redis 
  ports:
    - protocol: TCP
      port: 6379
      targetPort: 6379 
  type: ClusterIP